<%- include('../blocks/head') %>
<body>
  <%- include('../blocks/header') %>
  <main>
    <div class="reset-container">
      <h1>Reset Password</h1>
      <form action="/reset" method="POST">
        <div>
          <label for="username">Username</label>
          <input type="text" name="username" id="username" required>
        </div>
        <button type="submit">Reset</button>
      </form>
    </div>
  </main>
  <%- include('../blocks/footer') %>
  <%- include('../blocks/end') %>
</body>
