<%- include('../blocks/head') -%>
<body>
    <%- include('../blocks/header') -%>

    <form action="/auth/sign-up" method="POST">
        <div class="login-container">
            <h1>Sign up</h1>
            <input type="text" class="username" placeholder="Enter the username">
            <input type="password" class="password" placeholder="Enter the password">
            <button type="submit" class="sign-button">Sign up</button>
            <p>Have an account? <a href="/sign-in">Sign in</a><p></p>
        </div>
    </form> 

    <%- include('../blocks/footer') -%>
    <script src="/js/signup.js"></script>
</body>
</html>