<%- include('../blocks/head') -%>
</head>
<body>
  <%- include('../blocks/header') -%>
  <div class="user-profile">
    <div class="add-post-container">
      <form action="profile/<%username%>/update" method="POST">
      <input type="file" name="avatar" placeholder="Add avatar">
      <input type="text" name="username" id="username" placeholder="username">
      <input type="text" name="bio" id="bio" placeholder="BIO">
    <button type="submit">Update</button>
    </form>
  </div>
  </div>
<%- include('../blocks/footer') -%>
    <script src="https://cdn.jsdelivr.net/npm/jwt-decode@3.1.2/build/jwt-decode.min.js"></script>
    <script src="/js/profile.js"></script>
<%- include('../blocks/end') -%>