<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Page</title>
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
    <%- include('blocks/header') -%>
    <div class="content">
        <h1>Users</h1>
            <ul class="list"></ul>
            <button class="logout"><a href="/logout">Log Out</a></button>
    </div>
    <%- include('blocks/footer') -%>
    <script src="/js/admin.js"></script>
</body>
</html>