<%- include('../blocks/head') -%>
  </head>
  <body>
    <%- include('blocks/header') -%>
    <div class="content">
      <h1>All Users</h1>
      <ul class="list"></ul>
      <button class="logout"><a href="/logout">Log Out</a></button>
    </div>
    <%- include('blocks/footer') -%>
    <script src="/js/admin.js"></script>
    <%- include('../blocks/end') -%>
