<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Page</title>
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/profile.css">
</head>
<body>
    <header>
        <span>ABiMil</span>
        <nav>
            <a href="/">Main</a>
            <a href="/logout">Log Out</a>
        </nav>
    </header>
    <div class="user-profile">
        <div class="profile-info">
                <img src="/img/user-icon1.png" class="avatar">
                <p class="username"><%= username %></p>
                <p>BIO</p>
            </div>
            <div class="post-container">
                <h1>POSTS</h1>
                <ul class="posts-list">
                </ul>
            </div>
    </div>
        <div class="form-container">
            <form action="/profile/post" method="POST">
                <input type="text" class="title" name="title" placeholder="Enter the title">
                <input type="text" class="text" name="text" placeholder="Enter the text">
                <button type="submit" class="add-posts-button">Add</button>
            </form>
        </div>
    
    <%- include('blocks/footer') -%> 
    <script src="/js/profile.js"></script>
</body>
</html>