body {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 16px;
  background-color: rgba(0, 0, 0, 0.663);
  color: white;
}

header {
  margin-top: 0;
  background-color: #333;
  color: #fff;
  padding: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header h1 {
  font-size: 24px;
  font-weight: bold;
}

header a {
  color: #fff;
  text-decoration: none;
}

header a:hover {
  color: #236921;
}

header span {
  margin-right: 40px;
}

header nav {
  text-align: center;
}

header nav a {
  text-decoration: none;
  padding: 5px;
  margin: 0 10px;
}

.header-link {
  margin: 10px 10px;
}

.form-container {
  display: flex;
  align-items: center;
}

button {
  background-color: #236921;
  color: white;
  font-size: 13px;
  border: none;
  padding: 3px;
  border-radius: 1.5px;
}

.content {
  margin-top: 100px;
}

footer {
  margin-bottom: 0;
  background-color: #333;
  color: #fff;
  padding: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  position: fixed;
  bottom: 0;
  left: 0;
  width: 99%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.login-container {
  margin-top: 250px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 13px;
}
.login-container input,
.login-container button {
  width: 20%;
  height: 40px;
  display: block;
  margin-bottom: 10px;
  border: none;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.login-container button {
  background-color: #236921;
  border-radius: 3px;
  padding: 10px;
  transition: background-color 0.3s;
}
.login-container button:hover {
  background-color: #1c551a;
}

a {
  color: #fff;
  text-decoration: none;
}
a:hover {
  color: #42b43e;
}

p {
  font-size: 12.5px;
}
.users-content {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.users-content button {
  padding: 10px;
  border-radius: 4px;
}

.logo {
  height: 45px;
}

.pagination {
  margin: 2rem;
  margin-top: 220px;
  text-align: center;
}
.pagination a {
  text-decoration: none;
  color: #09542de9;
  padding: 0.5rem;
  border: 1px solid #1c551a;
  border-radius: 10px;
  margin: 0 1rem;
}
.pagination a:hover,
.pagination a:active,
.pagination a.active {
  background-color: #1c551a;
  color: white;
}

h3 {
  text-align: center;
  margin-top: 60px;
}

.user-profile {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
}

.profile-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 20px;
}

.profile-info .avatar {
  margin-right: 10px;
}

.profile-info .bio {
  margin-right: auto;
}

.profile-info .username {
  margin-left: auto;
}

.post-container,
.form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
h1,
p {
  font-size: 16px;
}
.form-container {
  margin-bottom: 50px;
}
button {
  background-color: #236921;
  color: white;
  font-size: 13px;
  border: none;
  padding: 3.5px;
  border-radius: 1.5px;
}

.posts-list {
  list-style: none;
  padding: 0;
}

.posts-list li {
  margin-bottom: 20px;
}

.posts-list p {
  margin: 0;
}

.posts-list strong {
  display: block;
  margin-bottom: 5px;
}

.posts-list li {
  color: black;
  background-color: ivory;
  padding: 10px;
  border: none;
  border-radius: 5px;
  width: auto;
}

.delete-button {
  margin: 10px;
  padding: 5px;
  border: none;
  border-radius: 3.5px;
}

img {
  height: 30px;
  width: auto;
}

.add-post-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 100px;
}

.add-post-container input {
  margin: 2px;
  padding: 5px;
}

.add-posts-button {
  padding: 7px;
}

.posts {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 20px;
  margin-top: 35px;
}

.post-container {
  background-color: #f5f5f529;
  border-radius: 20px;
  padding: 25px;
}

.post {
  width: 250px;
  background-color: #2d5721;
  color: #fff;
  margin: 15px;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s, box-shadow 0.3s;
}

.post h2 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.post p {
  font-size: 1rem;
  margin-bottom: 15px;
}

.post span {
  font-size: 0.9rem;
  font-weight: bold;
  color: #d4edda;
}

.post:hover {
  transform: translateY(-10px);
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
}
