<%-include('../blocks/head')%>
<body>
  <%-include('../blocks/header')%>
  <h3>Something happened, return to the main page</h2>
</body>

<%-include('../blocks/footer')%> 
<%-include('../blocks/end')%>
