<%-include('../blocks/head')%>
<body>
  <%-include('../blocks/header')%>
  <h2>Internal Server Error</h2>
  <p>Sorry! We`re working to fix this</p>
</body>

<%-include('../blocks/footer')%> 
<%-include('../blocks/end')%>
