<footer>
    <span>
        <img src="/img/AbiMil.png" class="logo" />
    </span>  
    <nav>
        <% if (isAuth) { %>
            <a href="#" id="logoutLink">Log Out</a>
        <%}%>
    </nav>
</footer>
