<header>
  <span>ABiMil</span>
  <nav>
    <% if (isAuth) { %>
      <a href="/profile/<%= username %>/newpost">New Post</a>
      <a href="/profile/<%= username %>/update">Edit Profile</a>
      <a href="/profile/<%=username%>">My Profile</a>
    <% } else { %>
      <a href="/">Main</a>
      <a href="/sign-in">Sign in</a>
    <% } %>
  </nav>
</header>