<header>
    <span>ABiMil</span>
    <nav>
        <a href="/">Main</a>
        <a href="/about">About</a>
    </nav>
    <!--
    <div class="form-container">
    <form method="POST" action="/check-user">
        <input type="text" id="text" name="username" placeholder="Username">
        <button type="submit">Search</button>
    </form>
    </div>
    -->
</header>