<header>
  <span>ABiMil</span>
  <nav>
    <a href="/">Main</a>
    <a href="/profile/<%= userId %>/new-post">New Post</a>
    <a href="/profile/<%= userId %>/edit-profile">Edit Profile</a>
    <a href="/profile/<%=username%>">My Profile</a>
  </nav>
</header>
