<header>
  <span>ABiMil</span>
  <nav>
    <a href="/">Main</a>
    <a href="/logout">Log Out</a>
    <a href="/profile/<%= userId%>/new-post">New Post</a>
    <a href="/profile/<%= userId%>/edit-profile">Edit Profile</a>
    <br />
  </nav>
</header>
